<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>[% conf.App.Name %] - [% conf.Page.Title %]</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
  <link href="/templates/Chapix/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  
</head>
<body class="grey lighten-5">
  <div class="navbar-fixed">
    <nav class="red">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
          <a href="#" class="brand-logo">[% conf.Page.Title %]</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/Admin">Inicio</a></li>
            <li><a href="/Admin/Admins">Admins</a></li>
          </ul>
        </div>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <div class="userView">
              <img class="background" src="http://orig11.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg"/>
              <a href="#!name"><span class="white-text name">[% sess.account_name %]</span></a>
              <a href="#!email"><span class="white-text email">[% sess.account_email %]</span></a>
            </div>
          </li>
          <li><a href="/Admin">Inicio</a></li>
          [% FOREACH mitem = menu %]
          <li><a href="[% mitem.url %]">[% mitem.name %]</a></li>
          [% END %]
        </ul>
      </div>
    </nav>
  </div>
  [% msg %]
  <div class="container">
    [% content %]
    [% conf.Page.AddBtn %] 
  </div>


  <!--  Scripts-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="/templates/Chapix/js/init.js"></script>

  </body>
</html>
