<!DOCTYPE html>
<html lang="[% conf.App.Language %]">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no"/>
    <title>[% conf.App.Name %] [% IF conf.Page.Title %] &rsaquo; [% conf.Page.Title %][% END %]</title>
    [% IF conf.Page.Description %]<meta name="description" content="[% conf.Page.Description %]">[% END %]
    [% IF conf.Page.Keywords %]<meta name="keywords" content="[% conf.Page.Keywords %]">[% END %]  
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/vendor/materialize/css/materialize-blue.css"  media="screen,projection"/>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="/Chapix/Xaa/css/index-mkt.css">
    <link rel="stylesheet" href="/Chapix/Xaa/css/index-mkt-responsive.css">

    <!-- Owl carousel -->
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.theme.css">
    [% vars.js %]
  </head>
  <body>

    <div class="navbar-fixed">
      <nav class="white blue-text uppercase">
	<div class="nav-wrapper container">
	  <a href="/" class="brand-logo"> 
	    <img src="/Chapix/Xaa/img/logo.png" alt="Marketero.com.mx" class="responsive-img">
	  </a>
	  <a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="material-icons">menu</i></a>

	  <ul class="right hide-on-med-and-down ">
	    <li><a href="/#inicio">Inicio</a></li>
	    <li><a href="/#mkt">¿Qué es Marketero?</a></li>
	    <li style="margin-right:30px;"><a href="/#prices">Precios</a></li>
	    <li> <a href="/Xaa/Login" class="waves-effect waves-light btn white-text">Inicia sesión</a> </li>
	    <!-- <li> <a href="#log-in" class="waves-effect waves-light btn white-text modal-trigger">Inicia sesión</a> </li> -->
	  </ul>
	  <ul class="side-nav" id="mobile-demo">
	    <li><a href="/#inicio">Inicio</a></li>
	    <li><a href="/#mkt">¿Qué es Marketero?</a></li>
	    <li><a href="/#prices">Precios</a></li>
	    <li>
	      <a href="/Xaa/Login" class="waves-effect waves-light btn white-text">Inicia sesión</a>
	      <!-- <a href="#log-in" class="waves-effect waves-light btn white-text modal-trigger">Inicia sesión</a> -->
	    </li>
	  </ul>
	</div>
      </nav>
    </div>
    
    <main id="main" class="main-content">
      [% msg %]
      [% content %]
    </main>

    <footer class="section black white-text">
      <div class="container">
	<div class="row center center-align">
	  <div class="col s12 m4 l4">
	    Copyright ® 2015 Xaandia Tecnologías Digitales S.A. de C.V.
	    </div>
	  <div class="col s12 m4 l4">
	    <a target="_blank" href="https://marketero.com.mx/_pages/Terminos-y-condiciones-generales-">Términos y condiciones de uso</a> &nbsp;|&nbsp; 
	    <a target="_blank" href="https://marketero.com.mx/_pages/Politica-de-Privacidad-">Política de Privacidad</a>
	    </div>
	  <div class="col s12 m4 l4">
	    <a target="_blank" href="http://twitter.com/xaandia">Twitter</a> &nbsp;|
	    <a target="_blank" href="https://www.facebook.com/xaandia">Facebook</a> &nbsp;|
	    <a target="_blank" href="https://marketero.com.mx/_blog">Blog</a>
	  </div>
	  </div>
	</div>
      </footer>


    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="/vendor/materialize/js/materialize.min.js"></script>

    <!-- Custom SCRIPTS -->
    <script type="text/javascript" src="/Chapix/Xaa/js/index-mkt.js"></script>
    
    <!-- Owl carousel -->
    <script type="text/javascript" src="/vendor/owl-carousel/js/owl.carousel.js"></script>

  </body>
</html>
