<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0"/>
    <title>[% conf.App.Name %][% IF conf.Page.Title %] &rsaquo; [% conf.Page.Title %][% END %]</title>
    [% IF conf.Page.Description %]<meta name="description" content="[% conf.Page.Description %]">[% END %]
    [% IF conf.Page.Keywords %]<meta name="keywords" content="[% conf.Page.Keywords %]">[% END %]
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/vendor/materialize/css/materialize.css">
    <link rel="stylesheet" href="css/materialize-blue.css">
    <link rel="stylesheet" href="css/marketeromd.css">
    <link rel="stylesheet" href="css/marketeromd-responsive.css">
    <link rel="stylesheet" href="css/chapix-adm.css">
    [% vars.js %]
  </head>

  <body>
    <div class="yellow top-navbar">
      <div class="top-navbar-wrap yellow">
		<a href="?" class="brand-logo force-center">
		  <img src="img/logo.png" alt="[% conf.App.Name %]" class="responsive-img">
		</a>
		<ul class="right hide-on-med-and-down">
		  <li>
			<a class="dropdown-button" href="#!" data-activates="notifications-drop">
			  <i class="material-icons">notifications</i>
			  <span class="new badge">4</span>
			</a>
			<ul id="notifications-drop" class="dropdown-content">
			  <li><a href="#!">Uno</a></li>
			  <li><a href="#!">Dos</a></li>
			  <li><a href="#!">Tres</a></li>
		    </ul>
		  </li>
		  <li><a href="?View=YourAccount" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Your Account"><i class="material-icons">account_circle</i></a></li>
		  <li><a href="?View=Settings" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Settings"><i class="material-icons">settings</i> </a></li>
		  <li><a href="?_submitted_logout=1" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout"><i class="material-icons">input</i></a></li>
		</ul>
	  </div>
    </div>
    <header>
      <nav>
		<div class="nav-wrapper grey lighten-3">
		  <div class="container">
		    <a href="#" data-activates="mobile-app-menu" class="button-collapse black-text"><i class="material-icons">menu</i></a>
		    <ul class="side-nav" id="mobile-app-menu">
			  <li><a href="?">Home</a></li>
	          [% FOREACH menu=menus %]
  	          <li[% IF menu.active  %] class="active"[% END %]><a href="[% menu.url %]">[% menu.menu_label %]</a></li>
	          [% END %]
			  <li class="divider hide-on-large-only"></li>
			  <li class="hide-on-large-only"> <a href="#">Notificaciones<span class="new badge">4</span></a></li>
			  <li class="hide-on-large-only"><a href="?View=YourAccount">Tu cuenta</a></li>
			  <li class="hide-on-large-only"> <a href="?View=Settings">Configuración</a></li>
			  <li class="hide-on-large-only"> <a href="?_submitted_logout=1">Salir</a></li>
		    </ul>
		  </div>
		</div>
	  </nav>
    </header>

    <section id="main" class="main-section">
      <div class="container">
		<div class="row">
		  <div class="col s12 m12 l12">
			[% msg %]
			[% content %]
		  </div>
		</div>
	  </div>
    </section>



    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/admin/js/marketeromd.js"></script>
	<script src="js/chapix-adm.js"></script>
  </body>
</html>