<!DOCTYPE html>
<html lang="[% conf.App.Language %]">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[% conf.App.Name %][% IF conf.Page.Title %] &rsaquo; [% conf.Page.Title %][% END %]</title>
    [% IF conf.Page.Description %]<meta name="description" content="[% conf.Page.Description %]">[% END %]
    [% IF conf.Page.Keywords %]<meta name="keywords" content="[% conf.Page.Keywords %]">[% END %]
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/materialize/css/materialize.css">
    <link href="/templates/default/style.css" rel="stylesheet" />
    [% vars.js %]
</head>
<body class="">
    <ul id="my-account-dropdown" class="my-account-dropdown-content dropdown-content">
        [% FOREACH item = user_menus %]
        [% IF item.menu_label == 'HR' %]
        <li class="divider"></li>
        [% ELSE %]
        <li>[% IF item.url %]<a href="[% item.url %]">[% item.menu_label %]</a>[% END %]</li>
        [% END %]
        [% END %]
        <li><a href="[% conf.ENV.BaseURL %]Xaa/Logout">Logout</a></li>
    </ul>
    <ul id="settings-dropdown" class="my-account-dropdown-content dropdown-content">
        [% FOREACH item = settings_menus %]
        [% IF item.menu_label == 'HR' %]
        <li class="divider"></li>
        [% ELSE %]
        <li>[% IF item.url %]<a href="[% item.url %]">[% item.menu_label %]</a>[% END %]</li>
        [% END %]
        [% END %]
    </ul>
    <nav>
    <div class="nav-wrapper">
      <a href="[% conf.ENV.BaseURL %]" class="brand-logo">[% conf.App.Name %]</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a alt="Dashboard" title="Dashboard" href="[% conf.ENV.BaseURL %]"><i class="material-icons ">dashboard</i></a></li>
        [% FOREACH menu=menus %]
        <li[% IF menu.active  %] class="active"[% END %]><a href="[% menu.url %]">[% menu.menu_label %]</a></li>
        [% END %]
        <li><a class="dropdown-button" alt="Your account" title="Your account" href="#!" data-activates="my-account-dropdown"><i class="material-icons ">account_circle</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        [% FOREACH menu=menus %]
        <li[% IF menu.active  %] class="active"[% END %]><a href="[% menu.url %]">[% menu.menu_label %]</a></li>
        [% END %]
        <li><a href="[% conf.ENV.BaseURL %]Xaa/YourAccount">Your account</a></li>
        <li><a href="[% conf.ENV.BaseURL %]Xaa/Logout">Logout</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      [% IF msg %]<p>[% msg %]</p>[% END %]
      [% content %]
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 copyright">
          [% conf.App.Name %] [% conf.App.Version %]
        </div>
      </div>  
    </div>
    <script src="[% conf.ENV.BaseURL %]vendor/jquery.min.js"></script>
    <script src="[% conf.ENV.BaseURL %]vendor/materialize/js/materialize.min.js"></script>
    <!-- script src="[% conf.ENV.BaseURL %]js/chapix-adm.js"></script -->
</body>
</html>



<!--

  <div class="container content">
    <div class="row">
        <div class="col-md-12">
            [% conf.Page.Path %]
            <h1>[% conf.Page.Title %]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 main-content">
            [% IF conf.Page.Description %]<div class="help">[% conf.Page.Description %]</div>[% END %]
            [% IF conf.Page.Toolbar %]<div class="toolbar">[% conf.Page.Toolbar %]</div>[% END %]
        </div>        
    </div>
  </div>-->
