<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0"/>
    <title>[% conf.App.Name %][% IF conf.Page.Title %] &rsaquo; [% conf.Page.Title %][% END %]</title>
    [% IF conf.Page.Description %]<meta name="description" content="[% conf.Page.Description %]">[% END %]
    [% IF conf.Page.Keywords %]<meta name="keywords" content="[% conf.Page.Keywords %]">[% END %]
    
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/vendor/materialize/css/materialize.css">
    <link rel="stylesheet" href="/Chapix/Xaa/css/materialize-blue.css">
    <link rel="stylesheet" href="/Chapix/Xaa/css/marketeromd.css">
    <link rel="stylesheet" href="/Chapix/Xaa/css/marketeromd-responsive.css">
    <link rel="stylesheet" href="/Chapix/Xaa/css/chapix-adm.css">

    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.min.css">
    [% IF conf.Page.Style %]<link rel="stylesheet" href="[% conf.Page.Style %]">[% END %]    
    [% vars.js %]    
  </head>

  <body>
    <div class="top-navbar app-toolbar">
      <div class="top-navbar-wrap">
	<a href="/[% Domain %]" class="brand-logo force-center">
	  <img src="/Chapix/Xaa/img/logo-gris.png" alt="[% conf.App.Name %]" class="responsive-img">
	</a>
	<ul class="right hide-on-med-and-down top-actions">
	  <li>
	    <a class="dropdown-button" href="#!" data-activates="notifications-drop" data-constrainwidth="false" data-beloworigin="true">
	      <i class="material-icons">notifications</i>
	      [% IF notifications.0 %]
	      <span class="new badge">[% notifications.size %]</span>
	      [% END %]
	    </a>
	    <ul id="notifications-drop" class="dropdown-content">
	      [% IF notifications.0 %]
	      [% FOREACH notification IN notifications %]
	      <li><a class="black-text" href="/[% Domain %]/Notifications?_view=Notification&notification_id=[% notification.notification_id %]">[% notification.title %]</a></li>
	      [% END %]
	      [% END %]
	      <li class="divider"></li>
	      <li><a class="black-text" href="/[% Domain %]/Notifications">View all</a></li>
	    </ul>
	  </li>
	  <li><a href="/[% Domain %]/Xaa/YourAccount" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Your Account"><i class="material-icons">account_circle</i></a></li>
	  <li><a href="/[% Domain %]/Xaa/Settings" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Settings"><i class="material-icons">settings</i> </a></li>
	  <li><a href="/[% Domain %]/Xaa/Logout" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout"><i class="material-icons">input</i></a></li>
	</ul>
      </div>
    </div>
    <header>
      <nav>
	<div class="nav-wrapper main-toolbar">
	  <div class="container-fluid">
		[% IF conf.Page.BackBtn %]
		[% conf.Page.BackBtn %]
		[% ELSE %]
	    <a href="#" data-activates="mobile-app-menu" class="button-collapse"><i class="small material-icons">menu</i></a>
		[% END %]
	    <span class="page-title">[% conf.Page.Title %]</span>
	    <ul class="side-nav" id="mobile-app-menu">
	      <li><a href="/[% Domain %]">Home</a></li>
	      [% FOREACH menu=menus %]
	      <li[% IF menu.active  %] class="active"[% END %]><a href="/[% Domain %]/[% menu.url %]">[% menu.menu_label %]</a></li>
	      [% END %]
	      <li class="divider hide-on-large-only"></li>
	      
	      <li class="hide-on-large-only"> <a href="#">Notificaciones [% IF notifications.0 %]<span class="new badge">[% notifications.size %]</span>[% END %]</a></li> 
	      <li class="hide-on-large-only"><a href="/[% Domain %]/Xaa/YourAccount">Tu cuenta</a></li>
	      <li class="hide-on-large-only"> <a href="/[% Domain %]/Xaa/Settings">Configuración</a></li>
	      <li class="hide-on-large-only"> <a href="/[% Domain %]/Xaa/Logout">Salir</a></li>
	    </ul>
	  </div>
	</div>
      </nav>
    </header>
    
    <main id="main" class="main-content">
      [% msg %]
      [% content %]
      [% conf.Page.AddBtn %]
    </main>
    
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-ui/jquery-ui.min.js"></script>       
    <script type="text/javascript" src="/vendor/materialize/js/materialize.min.js"></script>

    [% IF conf.Page.JS %] [% conf.Page.JS %][% END %]

    <script type="text/javascript" src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/admin/js/marketeromd.js"></script>
    <script src="/admin/js/chapix-adm.js"></script>
    
  </body>
</html>
