@import url(https://fonts.googleapis.com/css?family=Pacifico);


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height:100%;
}

main {
    flex: 1 0 auto;
}

nav ul a {
	color: black;
}

.brand-logo img {
	max-width: 220px;
}

#account, #mkt, #trusty, #prices, #ready, .register-form, #login-form {
	padding-top: 15px;
	padding-bottom: 15px;
}


section h4{
	margin-bottom: 40px;
	margin-top: 40px;
}

#account{
	min-height: 124px;
}


.fade-out {
	visibility: hidden;
	opacity: 0;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
} 

.sign-txt {
	display: block;
	opacity: 1;
}

.register-item {
	position: absolute;
	width: 100%;
	top: 0px;
	opacity: 0;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.register-item.appear{
	position: absolute;
	width: 100%;
	opacity: 1;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}


.sign-btn {
	left: 0px;
}

.sign-btn.step-aside{
	left: 100%;
	-ms-transition: left 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transition: left 0.3s ease-in;
}

.descy {
	font-size: 10px;
}

.pricing-table {
	text-transform: uppercase;
	margin: 0 auto;
	width: 300px;
}

.price {
	padding: 20px 0px;
}

.table-list li:first-child {
    border-radius: 8px 8px 0px 0px;
}

.table-list li:last-child {
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 1.6em;
}

.table-list li {
	font-size: 1em;
	font-weight: 700;
	padding: 25px 8px;
	background-color: #e6e6e6;
	border-bottom: 1px solid white;
}

footer {
	font-size: 10px;
}

footer a{
	color: white;
}

.stylish {
	font-family: "Pacifico", Helvetica;
}

.top-navbar {
	width: 100%;
	height: 30px;
}

.top-navbar-wrap {
	height: 30px;
}

.top-navbar ul {
	margin: 0px;
	position: absolute;
    right: 0px;
    top: 1px;
}

.top-navbar ul li {
	float: left;
}

.top-navbar ul a {
	font-size: 1rem;
    color: #000;
    display: block;
    padding: 0 15px;
}


.card-floating-action {
    position: absolute;
    bottom: -25px;
    right: -25px;
}


.card.custom-card {
	width: 200px;
	height: 260px;
}


.card-wrapper {
	position: relative;
	display: table;
	margin: 0 auto;
	margin-top: 20px;
}


.top-navbar ul a span.badge{
	position: static;
    margin-left: 4px;
    line-height: 0;
        display: inline;
    vertical-align: super;
}




/* ****************** HELPER STYLES ********************** */
.force-center {
	display: table;
	margin: 0 auto;
}

.no-margin {
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}

.col-center {
    float: none !important;
    margin: auto !important;
}

.space-sm {
	height: 10px;
}

.space-md {
	height: 25px;
}

.space-lg {
	height: 50px;
}

.space-xl {
	height: 100px;
}

.label-danger {
	color: #F44336;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

.msg {
     display: none;	
}

.msg-danger {
	background-color: #e53935 !important;
	color: #FFF;
}

.msg-success {
	background-color: #7cb342 !important;
	color: #FFF;
}

.msg-warning {
    background-color: #ffb300 !important;
    color: #fff;
}

.msg-info {
    background-color: #1e88e5 !important;
    color: #fff;
}

.req {
	color: #d32f2f;
}